h1 {
    color: dodgerblue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: black;
    font-family: courier;
    font-size: 160%;
}

button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    padding: 5px;
    background-color:orange;
    border: none;
}


